* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

.slideshow-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.nav-btn {
    position: absolute;
    bottom: 20px; 
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10; 
    transition: background 0.3s;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.slideshow-container .nav-btn.prev {
    left: calc(50% - 60px); 
}

.slideshow-container .nav-btn.next {
    left: calc(50% + 10px); }

.toggle-container {
    position: absolute;
    bottom: 80px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    z-index: 10;
}

/* Slide Bar (Pagination Dots) */
.slide-bar {
    position: absolute;
    bottom: 40px; /* Adjust it to sit below the auto slideshow button */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background-color: black;
}

/* Custom Checkbox Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: black;
}
